<!DOCTYPE html>
<html lang="fi" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Harjoitus 6</title>
</head>

<body>
  <nav class="main-navigation">
    <h1>Linux-palvelimet</h1>
    <p>Haaga-Helia ICT4TN021-3010, Opettaja Tero Karvinen</p>
    <a target="_blank"
      href="http://terokarvinen.com/2020/linux-palvelimet-2020-alkukevat-kurssi-ict4tn021-3010/#alustavat-tehtavanannot">
      Kurssin tehtävänannot
    </a>
    <p>Oskari Holopainen</p>
    <a href="../../index.html"><img class="tux" src="../img/tux.png" alt="tux.png"></a>
    <br>
    <a href="../../index.html">Etusivu</a>
  </nav>
  <h1>Harjoitus 6</h1>
  <h2>a) Tee oma yksinkertainen, tietokantaa käyttävä ohjelma. Ohjelmalla tulee olla jokin käyttötarkoitus. Voit tehdä
    ohjelman muokkaamalla <a href="http://terokarvinen.com/2020/flask-automatic-forms/" target="_blank">Teron koodia</a>
  </h2>
  <h4>05.03.2020 Klo 18.21 Xubuntu 18.04.3 amd64 Live USB</h4>
  <p>
    Tarkoituksenani on luoda projektinhallintajärjestelmän osa, jossa luodaan lomakkeella tiketti, ja listataan luodut
    tiketit. Tiketistä tulee käydä ilmi siihen liittyvä projekti, ongelman tyyppi, jonkinlainen kuvaus tai tehtävänanto,
    prioriteetti ja vaikka vastuuhenkilö.
  </p>
  <p>Lähtötilanteessa minulla on tyhjä live-ubuntu käynnissä.</p>

  <h4>Flask-testiympäristön asennus ja Hello World.</h4>

  <p>
    Ajoin komennon <code>sudo apt-get update</code>. Loin ohjelmalle kansion komennolla
    <code>mkdir projectmanager</code>.
    Loin helloworldille
    moduulin komennolla <code>nano hello.py</code>, kirjoitin sinne täsmälleen samanlaisen helloworld-ohjelman, kuin
    täällä:
    <a target="_blank"
      href="http://terokarvinen.com/2020/hello-flask-python-web-app/">http://terokarvinen.com/2020/hello-flask-python-web-app/</a>
    ja testasin sitä komennolla <code>python3 hello.py</code>. Flask-testiympäristö vaikutti toimivan.
  </p>

  <img src="../img/h6/hello.png" alt="hello.png" />

  <h4>Flaskin automaattiset lomakkeet</h4>

  <p>
    Tässä kohdassa käytin lähteenä kurssin opettajan ohjetta:
    <a target="_blank"
      href="http://terokarvinen.com/2020/flask-automatic-forms/">http://terokarvinen.com/2020/flask-automatic-forms/</a>.
    Asensin pwgenin komennolla <code>sudo apt-get -y install pwgen</code>. Poistin
    hello.py-moduulin.
  </p>

  <p>
    Menin ohjelman varsinaiseen kansioon komennolla <code>cd projectmanager</code>. Loin mallinteille kansion komennolla
    <code>mkdir
    templates</code>. Loin moduulin projectmanager.py ja kopioin sinne autoformed.py-moduulin <a target="_blank"
      href="http://terokarvinen.com/2020/flask-automatic-forms/">lähdesivulta</a>. Tämän jälkeen kopioin
    lähdesivulta koodipohjat kansioon templates tiedostoihin base.html ja replies.html.</p>

  <p>Sitten asensin sqlalchemyn ja
    flask-wtf:n komennoilla <code>sudo apt-get -y install python3-flask-sqlalchemy</code> ja <code>sudo apt-get -y install
    python3-flaskext.wtf</code>. Käynnistin ohjelman komennolla <code>python3 projectmanager.py</code> ja testasin,
    että
    ohjelma käynnistyy
    ilman virheilmoituksia.
  </p>

  <img src="../img/h6/testapp.png" alt="testapp.png">

  <p>Muokkasin ohjelmatiedostoja omaan tarkoitukseen sopivammiksi:</p>

  <h4>projectmanager.py:</h4>

  <pre><font color="#4CCCE6"><b>from</b></font> flask <font color="#4CCCE6"><b>import</b></font> Flask, render_template, flash, redirect
<font color="#4CCCE6"><b>from</b></font> flask_sqlalchemy <font color="#4CCCE6"><b>import</b></font> SQLAlchemy
<font color="#4CCCE6"><b>from</b></font> wtforms.ext.sqlalchemy.orm <font color="#4CCCE6"><b>import</b></font> model_form
<font color="#4CCCE6"><b>from</b></font> flask_wtf <font color="#4CCCE6"><b>import</b></font> FlaskForm
<font color="#4CCCE6"><b>import</b></font> wtforms

app = Flask(__name__)
db = SQLAlchemy(app)
app.config[<font color="#4CE64C"><b>&quot;SQLALCHEMY_DATABASE_URI&quot;</b></font>] = <font color="#4CE64C"><b>&quot;sqlite:///autoformed.db&quot;</b></font>
app.config[<font color="#4CE64C"><b>&quot;SQLALCHEMY_TRACK_MODIFICATIONS&quot;</b></font>] = <font color="#CC58CC"><b>False</b></font>
app.config[<font color="#4CE64C"><b>&quot;SECRET_KEY&quot;</b></font>] = <font color="#4CE64C"><b>&quot;vääräsalasana&quot;</b></font>

<font color="#4CCCE6"><b>class</b></font> Reply(db.Model):
        id = db.Column(db.Integer, primary_key=<font color="#CC58CC"><b>True</b></font>)
        project = db.Column(db.String, nullable=<font color="#CC58CC"><b>False</b></font>)
        type = db.Column(db.String, nullable=<font color="#CC58CC"><b>False</b></font>)
        description = db.Column(db.String, nullable=<font color="#CC58CC"><b>False</b></font>)
        urgent = db.Column(db.Boolean, nullable=<font color="#CC58CC"><b>False</b></font>)
        pic = db.Column(db.String, nullable=<font color="#CC58CC"><b>False</b></font>)

ReplyForm = model_form(model=Reply, base_class=FlaskForm, db_session=db.session)

@app.before_first_request
<font color="#4CCCE6"><b>def</b></font><font color="#295FCC"><b> beforeFirstRequest</b></font>():
        db.create_all()

@app.route(<font color="#4CE64C"><b>&quot;/&quot;</b></font>, methods=[<font color="#4CE64C"><b>&quot;GET&quot;</b></font>, <font color="#4CE64C"><b>&quot;POST&quot;</b></font>])
<font color="#4CCCE6"><b>def</b></font><font color="#295FCC"><b> index</b></font>():
        form = ReplyForm()

        <font color="#4CCCE6"><b>if</b></font> form.validate_on_submit():
                reply = Reply()
                form.populate_obj(reply)
                db.session.add(reply)
                db.session.commit()
                flash(<font color="#4CE64C"><b>&quot;Your ticket has been added. &quot;</b></font>)
                <font color="#4CCCE6"><b>return</b></font> redirect(<font color="#4CE64C"><b>&quot;/&quot;</b></font>)
        replies = db.session.query(Reply)
        <font color="#4CCCE6"><b>return</b></font> render_template(<font color="#4CE64C"><b>&quot;replies.html&quot;</b></font>, form=form, replies=replies)

<font color="#4CCCE6"><b>def</b></font><font color="#295FCC"><b> main</b></font>():
        app.run(debug=<font color="#CC58CC"><b>True</b></font>)

<font color="#4CCCE6"><b>if</b></font> __name__ == <font color="#4CE64C"><b>&quot;__main__&quot;</b></font>:
        main()
</pre>

  <h4>replies.html:</h4>

  <pre>{% extends <font color="#44AA44">&quot;base.html&quot;</font> %}
{% block body %}
<font color="#1A92AA">&lt;h1&gt;</font>Create a ticket<font color="#1A92AA">&lt;/h1&gt;</font>
<font color="#1A92AA">&lt;form </font><font color="#AA0000">method=</font><font color="#1A92AA">post </font><font color="#AA0000">action=</font><font color="#44AA44">&quot;/&quot;</font><font color="#1A92AA">&gt;</font>
        {{ form.csrf_token }}
        {% for field in form if not field.name in [<font color="#44AA44">&quot;csrf_token&quot;</font>] %}
                <font color="#1A92AA">&lt;p&gt;</font>{{ field.label }}: {{ field }} <font color="#CC58CC"><b>&lt;b&gt;</b></font>{{ <font color="#44AA44">&quot; &quot;</font>.join(field.errors) }}<font color="#CC58CC"><b>&lt;/b&gt;</b></font><font color="#1A92AA">&lt;/p&gt;</font>

        {% endfor %}
        <font color="#1A92AA">&lt;input </font><font color="#AA0000">type=</font><font color="#44AA44">&quot;submit&quot;</font><font color="#1A92AA">&gt;</font>
<font color="#1A92AA">&lt;/form&gt;</font>

<font color="#1A92AA">&lt;h2&gt;</font>Tickets<font color="#1A92AA">&lt;/h2&gt;</font>
{% for reply in replies %}
<font color="#1A92AA">&lt;div </font><font color="#AA0000">style=</font><font color="#44AA44">&quot;border: 1px solid black; display: inline-block; padding: 20px;&quot;</font><font color="#1A92AA">&gt;</font>
  <font color="#1A92AA">&lt;p&gt;</font>Project: {{ reply.project }}<font color="#1A92AA">&lt;/p&gt;</font>
  <font color="#1A92AA">&lt;p&gt;</font>Type: {{ reply.type }}<font color="#1A92AA">&lt;/p&gt;</font>
  <font color="#1A92AA">&lt;p&gt;</font>Description: {{ reply.description }}<font color="#1A92AA">&lt;/p&gt;</font>
  <font color="#1A92AA">&lt;p&gt;</font>Urgent: <font color="#CC58CC"><b>&lt;b&gt;</b></font>{{ reply.urgent }}<font color="#CC58CC"><b>&lt;/b&gt;</b></font><font color="#1A92AA">&lt;/p&gt;</font>
  <font color="#1A92AA">&lt;p&gt;</font>Person in charge: {{ reply.pic }}<font color="#1A92AA">&lt;/p&gt;</font>
<font color="#1A92AA">&lt;/div&gt;</font>
{% endfor %}

{% endblock %}
</pre>

  <h4>base.html:</h4>

  <pre><font color="#1A92AA">&lt;!doctype html&gt;</font>
<font color="#1A92AA">&lt;html </font><font color="#AA0000">lang=</font><font color="#1A92AA">en&gt;</font>
        <font color="#1A92AA">&lt;head&gt;</font>
                <font color="#1A92AA">&lt;title&gt;</font>Create a ticket<font color="#1A92AA">&lt;/title&gt;</font>
                <font color="#1A92AA">&lt;meta </font><font color="#AA0000">charset=</font><font color="#44AA44">&quot;utf-8&quot;</font><font color="#1A92AA">&gt;</font>
        <font color="#1A92AA">&lt;/head&gt;</font>
        <font color="#1A92AA">&lt;body&gt;</font>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <font color="#1A92AA">&lt;ul </font><font color="#AA0000">class=</font><font color="#1A92AA">flashes&gt;</font>
                        {% for message in messages %}
                        <font color="#1A92AA">&lt;li&gt;</font>{{ message }}<font color="#1A92AA">&lt;/li&gt;</font>
                        {% endfor %}
                <font color="#1A92AA">&lt;/ul&gt;</font>
                {% endif %}
                {% endwith %}

                {% block body %}
                <font color="#1A92AA">&lt;h1&gt;</font>Hello<font color="#1A92AA">&lt;/h1&gt;</font>
                {% endblock %}
        <font color="#1A92AA">&lt;/body&gt;</font>

<font color="#1A92AA">&lt;/html&gt;</font>
</pre>
  <p>Nyt ohjelmalla voi luoda tikettejä, jotka tallentuvat "projektinhallintajärjestelmän" tietokantaan.</p>
  <img src="../img/h6/ticket1.png" alt="ticket1.png">

  <h2>b) Laita tietokantaohjelmasi toimimaan mod_wsgi:n kanssa.</h2>
  <h4>07.03.2020 Klo 09:45 Xubuntu 18.04.3 Live USB</h4>
  <p>
    Käytän tässä edellisen kohdan tietokantaohjelmaa joka tällä hetkellä sijaitsee hakemistossa
    /home/xubuntu/projectmanager. Lähteenä käytän kurssiopettajan <a target="_blank"
      href="http://terokarvinen.com/2020/deploy-python-flask-to-production/">tuotantoasennusohjeita</a>.
    Päivitin pakettitiedot komennolla <code>sudo apt-get update</code> ja asensin curlin komennolla
    <code>sudo apt install curl</code>.
  </p>

  <h4>Apachen asennus</h4>
  <p>Asensin Apachen komennolla <code>sudo apt-get -y install apache2</code>.</p>
  <p>Komento <code>curl localhost |grep title</code> antoi tuloksen: <code>Apache2 Ubuntu Default Page: It works</code>
  </p>

  <p>Testatakseni, että apache todella toimii vaihdoin apachen oletussivun komennolla
    <code>echo "Tehdään tuotantoasennus Flaskista"|sudo tee /var/www/html/index.html</code></p>
  <p>Nyt komento <code>curl localhost</code> antoi tuloksen: <code>Tehdään tuotantoasennus Flaskista</code>.</p>

  <h4>Teknisen käyttäjän luominen</h4>
  <p>Generoidakseni tekniselle käyttäjälle salasanan asensin pwgenin komennolla
    <code>sudo apt-get -y install pwgen</code>.</p>
  <p>Loin salasanan komennolla <code>pwgen 30 1</code>.</p>
  <p>Tämän jälkeen loin ohjelmalle uuden teknisen käyttäjän komennolla <code>sudo adduser projectmanager</code></p>
  <p>Koska käyttäjällä ei tarvitse kirjautua sisään, lukitsin salasanakirjautumisen komennolla
    <code>sudo usermod --lock projectmanager</code>.</p>
  <p>Lisäsin itseni käyttäjän ryhmään muokatakseni käyttäjän kotihakemistossa sijaitsevia tiedostoja:
    <code>sudo adduser $(whoami) projectmanager</code></p>
  <p>Jotta muutokset tulisi voimaan ajoin komennon <code>su - xubuntu</code> ja kirjauduin sisään. Tarkistin komennolla
    <code>groups</code>, että käyttäjä xubuntu oli lisätty ryhmään projectmanager.</p>

  <h4>Name based virtual host Flaskille</h4>
  <p>Loin uudelle virtualhostille conf-tiedoston komennolla
    <code>sudoedit /etc/apache2/sites-available/projectmanager.wsgi.conf</code>:</p>
  <pre>&lt;VirtualHost *:80&gt;
  ServerName projectmanager.example.com

  WSGIDaemonProcess pmwsgi user=projectmanager group=projectmanager threads=5
  WSGIScriptAlias / /home/projectmanager/public_wsgi/pm.wsgi

  &lt;Directory /home/projectmanager/public_wsgi/&gt;
          WSGIScriptReloading On
          WSGIProcessGroup pmwsgi  
          WSGIApplicationGroup %{GLOBAL}
          Require all granted
  &lt;/Directory&gt;
&lt;/VirtualHost&gt;
</pre>
  <p>Otin uuden virtualhostin käyttöön komennolla <code>sudo a2ensite projectmanager.wsgi</code>. Poistin vanhan
    käytöstä komennolla <code>sudo a2dissite 000-default.conf</code>.</p>
  <p><code>apache2ctl configtest</code> antoi tuloksen:
    <code>Invalid command 'WSGIDaemonProcess', perhaps misspelled or..</code>.</p>
  <p>Tämä johtui siitä, että mod-wsgi:tä ei ollut vielä asennettu. Asensin sen komennolla
    <code>sudo apt-get -y install libapache2-mod-wsgi-py3</code>.</p>
  <p><code>apache2ctl configtest</code> antoi nyt tuloksen <code>Syntax OK</code>.</p>
  <p>Käynnistin palvelimen uudelleen komennolla <code>sudo systemctl restart apache2</code>.</p>
  <h4>Käyttöoikeudet</h4>
  <p>Tarkistin, miltä localhost näytti komennolla <code>curl localhost</code>. Sivun otsikossa oli statuskoodi
    <code>403 Forbidden</code>.</p>
  <p>Tarkistin apachen error.login viimeisen rivin komennolla <code>tail -1 /var/log/apache2/error.log</code>.
    Virheviesti
    valitti hakemistosta:
    <code>AH01630: client denied by server configuration: /home/projectmanager/public_wsgi/</code>.</p>
  <p>Hakemistoa ei ollut vielä olemassa. Loin hakemiston komennolla
    <code>sudo mkdir /home/projectmanager/public_wsgi</code>.</p>
  <p>Vaihdoin hakemiston oikeudet komennolla
    <code>sudo chown projectmanager:projectmanager /home/projectmanager/public_wsgi/</code>.</p>
  <p>Asetin hakemiston ryhmän jäsenille vielä read- write- ja execute-oikeudet komennolla
    <code>sudo chmod g=rwxs /home/projectmanager/public_wsgi</code>.</p>
  <p>Tarkistin tuloksen komennolla <code>ls -ld /home/projectmanager/public_wsgi/</code> ja sain halutun tuloksen:</p>
  <p><code>drwxrwsr-x 2 projectmanager projectmanager 40 Mar  7 09:31 /home/projectmanager/public_wsgi/</code>.</p>
  <p>Tarkistin komennolla <code>curl -si localhost|grep title</code>, miltä localhost näytti. Sivun otsikossa luki nyt
    statuskoodi <code>404 Not Found</code></p>
  <p>Tarkistin error.login viimeisen rivin komennolla <code>tail -1 /var/log/apache2/error.log</code>. Virheviestissä
    oli nyt ilmoitus:
    <code>Target WSGI script not found or unable to stat: /home/projectmanager/public_wsgi/pm.wsgi</code>.</p>
  <h4>WSGI-skriptin luominen</h4>
  <p>WSGI-skriptiä ei ole vielä luotu. Lähdin luomaan skriptiä komennolla
    <code>nano /home/projectmanager/public_wsgi/pm.wsgi</code>. Kopioin ja muokkasin tiedoston sisällöksi <a
      target="_blank" href="http://terokarvinen.com/2020/deploy-python-flask-to-production/">tuotantoasennusohjeista</a>
    seuraavan:</p>
  <pre>
  import sys
  assert sys.version_info.major &gt;= 3, &quot;Python version too old in pm.wsgi!&quot;
        
  sys.path.insert(0, &apos;/home/projectmanager/public_wsgi/&apos;)
  from projectmanager import app as application       
  </pre>
  <p>Komento <code>curl -s localhost|grep title</code> antoi nyt otsikkoon statuskoodin
    <code>500 Internal Server Error</code>.</p>
  <p>Tarkistin error.login viimeisen rivin komennolla <code>tail -1 /var/log/apache2/error.log</code>. Virheviestistä
    löytyi nyt ilmoitus:
    <code>ModuleNotFoundError: No module named 'projectmanager'</code>.</p>
  <p>Moduuli on jo olemassa, mutta ei oikeassa paikassa. Kopioin koko ohjelman teknisen käyttäjän hakemistoon
    public_wsgi komennolla <code>cp -r /home/xubuntu/projectmanager/. /home/projectmanager/public_wsgi/</code>.</p>
  <p>Ajoin komennon <code>touch /home/projectmanager/public_wsgi/pm.wsgi </code>, että muutokset tulisivat mahdollisesti
    voimaan.</p>
  <p>Komento <code>curl localhost</code> antoi vieläkin tuloksen 500 Internal Server Error.</p>
  <p>Tarkistin lokin viimeisen rivin komennolla <code>tail -1 /var/log/apache2/error.log</code>.</p>
  <p>Virheilmoitus oli vaihtunut: <code>ModuleNotFoundError: No module named 'flask'</code>.</p>
  <p>Ohjelman käyttämät kirjastot täytyi vielä asentaa. Asensin nämä komennolla:
    <code>sudo apt-get -y install python3-flask python3-flaskext.wtf python3-flask-sqlalchemy</code>.</p>
  <p>Komento <code>curl localhost</code> antoi silti tuloksen 500 Internal Server Error.</p>
  <p>Tarkistin lokin viimeisen rivin komennolla <code>tail -1 /var/log/apache2/error.log</code>. En nähnyt mitään kovin
    informatiivista joten tarkistin 5 viimeistä riviä komennolla <code>tail -5 /var/log/apache2/error.log</code></p>
  <p>Virheilmoituksesta löytyi viesti:
    <code>PermissionError: [Errno 13] Permission denied: '/home/projectmanager/public_wsgi/templates/replies.html'</code>.
  </p>
  <p>Ohjelman alihakemistoihin oli näköjään jäänyt vielä vanhoja käyttöoikeuksia. Korjasin nämä komennolla
    <code>sudo chown -R projectmanager:projectmanager /home/projectmanager/public_wsgi/</code>.</p>
  <h4>Ohjelman tuotantoversion testaus</h4>
  <p>Kokeilin vielä kerran <code>curl localhost</code>ia ja tulos näytti oikealta. Avasin localhostin selaimessa:</p>
  <img src="../img/h6/projectmanager-prod.png" alt="projectmanager-prod.png">
  <p>Testasin uuden tiketin lisäystä:</p>
  <img src="../img/h6/ticket-prod.png" alt="ticket-prod.png">
  <p>Ohjelma näyttää toimivan.</p>
  <h2>d) Vapaaehtoinen: Tunnussana! Tee Flask-ohjelma, jossa on autentikoituminen. Voit käyttää kovakoodattua
    käyttäjätunnusta ja salasanaa.</h2>
  <h4>09.03.2020 Klo 15:09 Xubuntu 18.04.4 Lenovo Legion Y520</h4>
  <p>Tässä osassa käytän lähteenä DigitalOceanin <a
      href="https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login"
      target="_blank">flask-login-tutorialia</a>.
    Viittaan tutoriaaliin myöhemmin lähdesivuna. En saanut jostain syystä blueprinttien importtausta toimimaan kunnolla,
    joten
    ajan säästämiseksi teen
    tämän ohjelman ilman niitä.
  </p>
  <h4>Pääohjelma ja templatet</h4>
  <p>Loin projektille tekemääni kansioon tiedoston app.py, ja sille seuraavan sisällön:</p>
  <h4>app.py</h4>
  <pre><font color="#000000"><b>from</b></font> flask <font color="#000000"><b>import</b></font> Flask, render_template
    <font color="#000000"><b>from</b></font> flask_sqlalchemy <font color="#000000"><b>import</b></font> SQLAlchemy
  
    db = SQLAlchemy()
    app = Flask(__name__)
    
    app.config[<font color="#216633"><b>&apos;SECRET_KEY&apos;</b></font>] = <font color="#216633"><b>&apos;salasanatähän&apos;</b></font>
    app.config[<font color="#216633"><b>&apos;SQLALCHEMY_DATABASE_URI&apos;</b></font>] = <font color="#216633"><b>&apos;sqlite:///db.sqlite&apos;</b></font>
    
    db.init_app(app)
    
    @app.route(<font color="#216633"><b>&quot;/&quot;</b></font>)
    <font color="#000000"><b>def</b></font><font color="#000000"><b> index</b></font>():
            <font color="#000000"><b>return</b></font> render_template(<font color="#216633"><b>&apos;index.html&apos;</b></font>)
    
    @app.route(<font color="#216633"><b>&quot;/profile&quot;</b></font>)
    <font color="#000000"><b>def</b></font><font color="#000000"><b> profile</b></font>():
            <font color="#000000"><b>return</b></font> render_template(<font color="#216633"><b>&apos;profile.html&apos;</b></font>)
    
    @app.route(<font color="#216633"><b>&apos;/login&apos;</b></font>)
    <font color="#000000"><b>def</b></font><font color="#000000"><b> login</b></font>():
        <font color="#000000"><b>return</b></font> render_template(<font color="#216633"><b>&apos;login.html&apos;</b></font>)
    
    @app.route(<font color="#216633"><b>&apos;/signup&apos;</b></font>)
    <font color="#000000"><b>def</b></font><font color="#000000"><b> signup</b></font>():
        <font color="#000000"><b>return</b></font>  render_template(<font color="#216633"><b>&apos;signup.html&apos;</b></font>)
    
    @app.route(<font color="#216633"><b>&apos;/logout&apos;</b></font>)
    <font color="#000000"><b>def</b></font><font color="#000000"><b> logout</b></font>():
        <font color="#000000"><b>return</b></font> <font color="#216633"><b>&apos;Logout&apos;</b></font>
    
    app.run(Debug=<font color="#EC93D3"><b>True</b></font>)
    </pre>
  <p>Tämän jälkeen loin templatet:</p>
  <h4>base.html</h4>
  <pre><font color="#000000">&lt;!DOCTYPE html&gt;</font>
    <font color="#000000">&lt;html&gt;</font>
    
    <font color="#000000">&lt;head&gt;</font>
        <font color="#000000">&lt;meta </font><font color="#705050">charset=</font><font color="#216633">&quot;utf-8&quot;</font><font color="#000000">&gt;</font>
        <font color="#000000">&lt;meta </font><font color="#705050">http-equiv=</font><font color="#216633">&quot;X-UA-Compatible&quot;</font><font color="#000000"> </font><font color="#705050">content=</font><font color="#216633">&quot;IE=edge&quot;</font><font color="#000000">&gt;</font>
        <font color="#000000">&lt;meta </font><font color="#705050">name=</font><font color="#216633">&quot;viewport&quot;</font><font color="#000000"> </font><font color="#705050">content=</font><font color="#216633">&quot;</font><font color="#705050">width=</font><font color="#216633">device-width, initial-scale=1&quot;</font><font color="#000000">&gt;</font>
        <font color="#000000">&lt;title&gt;</font>Flask Auth Example<font color="#000000">&lt;/title&gt;</font>
        <font color="#000000">&lt;link </font><font color="#705050">rel=</font><font color="#216633">&quot;stylesheet&quot;</font><font color="#000000"> </font><font color="#705050">href=</font><font color="#216633">&quot;https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css&quot;</font><font color="#000000"> /&gt;</font>
    <font color="#000000">&lt;/head&gt;</font>
    
    <font color="#000000">&lt;body&gt;</font>
        <font color="#000000">&lt;section </font><font color="#705050">class=</font><font color="#216633">&quot;hero is-primary is-fullheight&quot;</font><font color="#000000">&gt;</font>
    
            <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;hero-head&quot;</font><font color="#000000">&gt;</font>
                <font color="#000000">&lt;nav </font><font color="#705050">class=</font><font color="#216633">&quot;navbar&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;container&quot;</font><font color="#000000">&gt;</font>
    
                        <font color="#000000">&lt;div </font><font color="#705050">id=</font><font color="#216633">&quot;navbarMenuHeroA&quot;</font><font color="#000000"> </font><font color="#705050">class=</font><font color="#216633">&quot;navbar-menu&quot;</font><font color="#000000">&gt;</font>
                            <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;navbar-end&quot;</font><font color="#000000">&gt;</font>
                                <font color="#000000">&lt;a </font><font color="#705050">href=</font><font color="#216633">&quot;/&quot;</font><font color="#000000"> </font><font color="#705050">class=</font><font color="#216633">&quot;navbar-item&quot;</font><font color="#000000">&gt;</font>
                                    Home
                                <font color="#000000">&lt;/a&gt;</font>
                                <font color="#000000">&lt;a </font><font color="#705050">href=</font><font color="#216633">&quot;/profile&quot;</font><font color="#000000"> </font><font color="#705050">class=</font><font color="#216633">&quot;navbar-item&quot;</font><font color="#000000">&gt;</font>
                                    Profile
                                <font color="#000000">&lt;/a&gt;</font>
                                <font color="#000000">&lt;a </font><font color="#705050">href=</font><font color="#216633">&quot;/login&quot;</font><font color="#000000"> </font><font color="#705050">class=</font><font color="#216633">&quot;navbar-item&quot;</font><font color="#000000">&gt;</font>
                                    Login
                                <font color="#000000">&lt;/a&gt;</font>
                                <font color="#000000">&lt;a </font><font color="#705050">href=</font><font color="#216633">&quot;/signup&quot;</font><font color="#000000"> </font><font color="#705050">class=</font><font color="#216633">&quot;navbar-item&quot;</font><font color="#000000">&gt;</font>
                                    Sign Up
                                <font color="#000000">&lt;/a&gt;</font>
                                <font color="#000000">&lt;a </font><font color="#705050">href=</font><font color="#216633">&quot;/logout&quot;</font><font color="#000000"> </font><font color="#705050">class=</font><font color="#216633">&quot;navbar-item&quot;</font><font color="#000000">&gt;</font>
                                    Logout
                                <font color="#000000">&lt;/a&gt;</font>
                            <font color="#000000">&lt;/div&gt;</font>
                        <font color="#000000">&lt;/div&gt;</font>
                    <font color="#000000">&lt;/div&gt;</font>
                <font color="#000000">&lt;/nav&gt;</font>
            <font color="#000000">&lt;/div&gt;</font>
    
            <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;hero-body&quot;</font><font color="#000000">&gt;</font>
                <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;container has-text-centered&quot;</font><font color="#000000">&gt;</font>
                   {% block content %}
                   {% endblock %}
                <font color="#000000">&lt;/div&gt;</font>
            <font color="#000000">&lt;/div&gt;</font>
        <font color="#000000">&lt;/section&gt;</font>
    <font color="#000000">&lt;/body&gt;</font>
    
    <font color="#000000">&lt;/html&gt;</font>
    </pre>
  <h4>index.html</h4>
  <pre>{% extends <font color="#216633">&quot;base.html&quot;</font> %}

    {% block content %}
    <font color="#000000">&lt;h1 </font><font color="#705050">class=</font><font color="#216633">&quot;title&quot;</font><font color="#000000">&gt;</font>
      Flask Login Example
    <font color="#000000">&lt;/h1&gt;</font>
    <font color="#000000">&lt;h2 </font><font color="#705050">class=</font><font color="#216633">&quot;subtitle&quot;</font><font color="#000000">&gt;</font>
      Easy authentication and authorization in Flask.
    <font color="#000000">&lt;/h2&gt;</font>
    {% endblock %}
    </pre>
  <h4>login.html</h4>
  <pre>{% extends <font color="#216633">&quot;base.html&quot;</font> %}

    {% block content %}
    <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;column is-4 is-offset-4&quot;</font><font color="#000000">&gt;</font>
        <font color="#000000">&lt;h3 </font><font color="#705050">class=</font><font color="#216633">&quot;title&quot;</font><font color="#000000">&gt;</font>Login<font color="#000000">&lt;/h3&gt;</font>
        <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;box&quot;</font><font color="#000000">&gt;</font>
            <font color="#000000">&lt;form </font><font color="#705050">method=</font><font color="#216633">&quot;POST&quot;</font><font color="#000000"> </font><font color="#705050">action=</font><font color="#216633">&quot;/login&quot;</font><font color="#000000">&gt;</font>
                <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;field&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;control&quot;</font><font color="#000000">&gt;</font>
                        <font color="#000000">&lt;input </font><font color="#705050">class=</font><font color="#216633">&quot;input is-large&quot;</font><font color="#000000"> </font><font color="#705050">type=</font><font color="#216633">&quot;email&quot;</font><font color="#000000"> </font><font color="#705050">name=</font><font color="#216633">&quot;email&quot;</font><font color="#000000"> placeholder=</font><font color="#216633">&quot;Your Email&quot;</font><font color="#000000"> autofocus=</font><font color="#216633">&quot;&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;/div&gt;</font>
                <font color="#000000">&lt;/div&gt;</font>
    
                <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;field&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;control&quot;</font><font color="#000000">&gt;</font>
                        <font color="#000000">&lt;input </font><font color="#705050">class=</font><font color="#216633">&quot;input is-large&quot;</font><font color="#000000"> </font><font color="#705050">type=</font><font color="#216633">&quot;password&quot;</font><font color="#000000"> </font><font color="#705050">name=</font><font color="#216633">&quot;password&quot;</font><font color="#000000"> placeholder=</font><font color="#216633">&quot;Your Password&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;/div&gt;</font>
                <font color="#000000">&lt;/div&gt;</font>
                <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;field&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;label </font><font color="#705050">class=</font><font color="#216633">&quot;checkbox&quot;</font><font color="#000000">&gt;</font>
                        <font color="#000000">&lt;input </font><font color="#705050">type=</font><font color="#216633">&quot;checkbox&quot;</font><font color="#000000">&gt;</font>
                        Remember me
                    <font color="#000000">&lt;/label&gt;</font>
                <font color="#000000">&lt;/div&gt;</font>
                <font color="#000000">&lt;button </font><font color="#705050">class=</font><font color="#216633">&quot;button is-block is-info is-large is-fullwidth&quot;</font><font color="#000000">&gt;</font>Login<font color="#000000">&lt;/button&gt;</font>
            <font color="#000000">&lt;/form&gt;</font>
        <font color="#000000">&lt;/div&gt;</font>
    <font color="#000000">&lt;/div&gt;</font>
    {% endblock %}
    </pre>
  <h4>profile.html</h4>
  <pre>{% extends <font color="#216633">&quot;base.html&quot;</font> %}

    {% block content %}
    <font color="#000000">&lt;h1 </font><font color="#705050">class=</font><font color="#216633">&quot;title&quot;</font><font color="#000000">&gt;</font>
      Welcome, Oskari!
    <font color="#000000">&lt;/h1&gt;</font>
    {% endblock %}</pre>
  <h4>signup.html</h4>
  <pre>{% extends <font color="#216633">&quot;base.html&quot;</font> %}

    {% block content %}
    <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;column is-4 is-offset-4&quot;</font><font color="#000000">&gt;</font>
        <font color="#000000">&lt;h3 </font><font color="#705050">class=</font><font color="#216633">&quot;title&quot;</font><font color="#000000">&gt;</font>Sign Up<font color="#000000">&lt;/h3&gt;</font>
        <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;box&quot;</font><font color="#000000">&gt;</font>
            <font color="#000000">&lt;form </font><font color="#705050">method=</font><font color="#216633">&quot;POST&quot;</font><font color="#000000"> </font><font color="#705050">action=</font><font color="#216633">&quot;/signup&quot;</font><font color="#000000">&gt;</font>
                <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;field&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;control&quot;</font><font color="#000000">&gt;</font>
                        <font color="#000000">&lt;input </font><font color="#705050">class=</font><font color="#216633">&quot;input is-large&quot;</font><font color="#000000"> </font><font color="#705050">type=</font><font color="#216633">&quot;email&quot;</font><font color="#000000"> </font><font color="#705050">name=</font><font color="#216633">&quot;email&quot;</font><font color="#000000"> placeholder=</font><font color="#216633">&quot;Email&quot;</font><font color="#000000"> autofocus=</font><font color="#216633">&quot;&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;/div&gt;</font>
                <font color="#000000">&lt;/div&gt;</font>
    
                <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;field&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;control&quot;</font><font color="#000000">&gt;</font>
                        <font color="#000000">&lt;input </font><font color="#705050">class=</font><font color="#216633">&quot;input is-large&quot;</font><font color="#000000"> </font><font color="#705050">type=</font><font color="#216633">&quot;text&quot;</font><font color="#000000"> </font><font color="#705050">name=</font><font color="#216633">&quot;name&quot;</font><font color="#000000"> placeholder=</font><font color="#216633">&quot;Name&quot;</font><font color="#000000"> autofocus=</font><font color="#216633">&quot;&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;/div&gt;</font>
                <font color="#000000">&lt;/div&gt;</font>
    
                <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;field&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;div </font><font color="#705050">class=</font><font color="#216633">&quot;control&quot;</font><font color="#000000">&gt;</font>
                        <font color="#000000">&lt;input </font><font color="#705050">class=</font><font color="#216633">&quot;input is-large&quot;</font><font color="#000000"> </font><font color="#705050">type=</font><font color="#216633">&quot;password&quot;</font><font color="#000000"> </font><font color="#705050">name=</font><font color="#216633">&quot;password&quot;</font><font color="#000000"> placeholder=</font><font color="#216633">&quot;Password&quot;</font><font color="#000000">&gt;</font>
                    <font color="#000000">&lt;/div&gt;</font>
                <font color="#000000">&lt;/div&gt;</font>
    
                <font color="#000000">&lt;button </font><font color="#705050">class=</font><font color="#216633">&quot;button is-block is-info is-large is-fullwidth&quot;</font><font color="#000000">&gt;</font>Sign Up<font color="#000000">&lt;/button&gt;</font>
            <font color="#000000">&lt;/form&gt;</font>
        <font color="#000000">&lt;/div&gt;</font>
    <font color="#000000">&lt;/div&gt;</font>
    {% endblock %}</pre>
  <p>Projektin rakenne nyt:</p>
  <img src="../img/h6/tree.png" alt="">
  <h4>Ohjelman käynnistäminen</h4>
  <p>Asetin FLASK_APP = muuttujaan arvon app komennolla <code>export FLASK_APP=app</code> ja ympäristön
    kehitysympäristöksi komennolla <code>export FLASK_ENV=development</code>. Ohjelma käynnistyy nyt komennolla
    <code>flask run</code>.</p>
  <h4>Käyttäjämallien luominen</h4>
  <p>Jotta käyttäjiä voitaisiin tallentaa tietokantaan, täytyy käyttäjille tehdä tietokantamalli sekä tietokanta alustaa. Lisäsin tiedostoon
    app.py seuraavat rivit</p>
  <pre>
    class User(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    email = db.Column(db.String(100), unique=True)
    password = db.Column(db.String(100))
    name = db.Column(db.String(1000))

    @app.before_first_request
    def beforeFirstRequest():
	  db.create_all()
  </pre>
  <p>Ensimmäisen käynnistyksen jälkeen ohjelma on luonut tietokannan tiedostoon db.sqlite.</p>
  <img src="../img/h6/sqlite.png" alt="">
  <h4>Käyttäjätilin luominen</h4>
  <p>Käyttäjätili luodaan lomakkeen HTTP POST-pyynnöllä. Lisäsin seuraavan reitin ohjelmaan:</p>
  <pre>
    @app.route('/signup', methods=['POST'])
    def signup_post():
        email = request.form.get('email')
        name = request.form.get('name')
        password = request.form.get('password')
    
        user = User.query.filter_by(email=email).first()
        if user:
            flash('Email address already exists')
            return redirect('/signup')
       
        new_user = User(email=email, name=name, password=generate_password_hash(password, method='sha256'))
    
        db.session.add(new_user)
        db.session.commit()
    
        return redirect('/login')
  </pre>
  <p>Ylläolevassa koodissa lomakkeesta saatu salasana tallennetaan muuttujaan ja siitä luodaan salasanatiiviste
    <b>werkzeug.security</b>-kirjaston metodilla <code>generate_password_hash()</code>.</p>
  <b>
    <p>Flask-importteihin täytyi myös lisätä request, redirect ja flash</p>
    <p>Tämän lisäksi seuraava import: <code>from werkzeug.security import generate_password_hash</code></p>
  </b>
  <h4>Virheilmoituksen lisääminen</h4>
  <p>Metodissa signup_post() tarkastetaan, löytyykö tietokannasta käyttäjää, jolla on sama sähköpostiosoite. Jos
    sellainen löytyy, täytyy käyttäjälle antaa virheilmoitus.</p>
  <p>Lisään seuraavan pätkän tiedostoon signup.html ennen form-tagia:</p>
  <pre>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <font color="#8CD0D3">&lt;div </font><font color="#705050">class=</font><font color="#60B48A">&quot;notification is-danger&quot;</font><font color="#8CD0D3">&gt;</font>
        {{ messages[0] }}. Go to <font color="#8CD0D3">&lt;a </font><font color="#705050">href=</font><font color="#60B48A">&quot;/login&quot;</font><font color="#8CD0D3">&gt;</font>login page<font color="#8CD0D3">&lt;/a&gt;</font>.
    <font color="#8CD0D3">&lt;/div&gt;</font>
    {% endif %}
    {% endwith %}</pre>
  <p>Nyt, jos yrittää lisätä olemassaolevan käyttäjän, tulostuu virheilmoitus:</p>
  <img src="../img/h6/already.png" alt="">
  <h4>Login-metodi ja virheilmoitus</h4>
  <p>Jotta käyttäjä voisi kirjautua sisään, täytyy tunnukset tarkistaa.</p>
  <b>
    <p>Lisään werkzeug.security-importteihin metodin check_password_hash</p>
  </b>
  <p>Määrittelen osoitteen "/login" reititykset uudelleen:</p>
  <pre>
    @app.route('/login', methods=['GET'])
    def login():
        return render_template('login.html')
    
    @app.route('/login', methods=['POST'])
    def login_post():
        email = request.form.get('email')
        password = request.form.get('password')
        remember = True if request.form.get('remember') else False
    
        user = User.query.filter_by(email=email).first()
    
        if not user or not check_password_hash(user.password, password):
            flash('Please check your login details and try again.')
            return redirect('/login')
    
        return redirect('/profile')
  </pre>
  <p>Tässä koodinpätkässä verrataan salasanatiivistettä annettuun salasanaan <b>werkzeug</b>-kirjaston metodilla
    <code>check_password_hash()</code>, jolle annetaan parametrina käyttäjän lomakkeelle syöttämä salasana, sekä
    tietokannasta haetun käyttäjän salasanatiiviste</p>
  <p>Lisäksi login-templateen seuraava <b>ennen</b> form-tagia:</p>
  <pre>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <font color="#8CD0D3">&lt;div </font><font color="#705050">class=</font><font color="#60B48A">&quot;notification is-danger&quot;</font><font color="#8CD0D3">&gt;</font>
        {{ messages[0] }}
    <font color="#8CD0D3">&lt;/div&gt;</font>
    {% endif %}
    {% endwith %}</pre>
  <p>Nyt väärillä tunnuksilla kirjautumisyrityksestä tulee virheviesti:</p>
  <img src="../img/h6/loginerror.png" alt="">
  <p>Oikeilla tunnuksilla kirjauduttaessa käyttäjä ohjautuu sivulle "/profile":</p>
  <img src="../img/h6/loggedin.png" alt="">


  <h2>Lähteet</h2>
  <div class="sources">
    <a target="_blank"
      href="http://terokarvinen.com/2020/hello-flask-python-web-app/">http://terokarvinen.com/2020/hello-flask-python-web-app/</a>
    <a target="_blank"
      href="http://terokarvinen.com/2020/flask-automatic-forms/">http://terokarvinen.com/2020/flask-automatic-forms/</a>
    <a target="_blank"
      href="http://terokarvinen.com/2020/deploy-python-flask-to-production/">http://terokarvinen.com/2020/deploy-python-flask-to-production/</a>
    <a href="https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login"
      target="_blank">https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login</a>
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Takaisin ylös</button>
  <script src="../js/main.js"></script>
</body>

</html>