
body {
  background-color: #fafafa;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.5px;
  padding: 40px;
}

code {
  background-color: #e4e1e1;
  padding: 1px;
}

pre {
  background-color: #d8cbcb;
  width: fit-content;
  tab-size: 4;
  white-space: pre-wrap;
}

.content {
  max-width: 60vw;
}

.tux {
  border: none;
  width: 5vw;
  height: auto;
}

@media(max-width: 500px) {
  .tux {
    width: 14vw;
  }
}
@media(min-width: 500px) and (max-width: 800px) {
  .tux {
    width: 12vw;
  }
}

p {
  font-size: 16px;
}

.main-navigation {
    text-align: center;
}

.index-body {
  text-align: center;
}

.excercises {
  display: flex;
  flex-direction: column;
}

a {
  padding: 10px;
}
 img {
   max-width: 90%;
}

 #myBtn {
   display: block;
   margin: auto;
 }

 .sources {
   display: flex;
   flex-direction: column;
 }

 h1 {text-decoration: underline;}

 img {
   padding:20px;
   border: 1px solid black;

 }
