
.main-navigation {
    text-align: center;
}

.excercises {
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  padding: 10px;
}
 img {max-width: 1000px;}

 #myBtn {
   display: block;
   margin: auto;
 }

 .sources {
   display: flex;
   flex-direction: column;
 }